<nav class="navbar navbar-expand-sm navbar-dark" id="main-navigation">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]=" {'show': !isCollapsed}">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="mr-1">
          <button type="button" class="btn" (click)="navigateToCalendar()">
            <div class="icon-container">
              <span class="fa fa-calendar fa-lg"> </span>
            </div>
            <span>Kalender</span>
          </button>
        </div>
      </li>
      <li class="nav-item">
        <div class="mr-1">
          <button type="button" class="btn" (click)="navigateToReservations()">
            <div class="icon-container">
              <span class="fa fa-list-alt fa-lg"> </span>
              <span class="badge badge-notify">3</span>
            </div>
            <span>Reservationen</span>
          </button>
        </div>
      </li>
      <li class="nav-item">
        <div class="mr-1">
          <button type="button" class="btn" (click)="navigateToNews()">
            <div class="icon-container">
              <span class="fa fa-newspaper fa-lg"> </span>
            </div>
            <span>News</span>
          </button>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <button type="button" class="btn">
            <div class="icon-container">
              <span class="fa fa-sign-out-alt fa-lg"> </span>
            </div>
            <span>Logout</span>
          </button>
        </div>
      </li>
    </ul>

  </div>
</nav>